.form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    width: 100px;
    margin-right: 10px;
    padding-left: 10px;
    text-align: left;
}

.input {
    width: 600px;
    height: 30px;
}

.textarea {
    resize: none;
    width: 600px;
    height: 300px;
}